.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.textoFrase{
    font-style: italic;
    color: #dd7b22;
    align-items: center;
}

button{
    margin-top: 5px;
    font-size: 18px;
    border: none;
    border-radius: 13px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: background .2s;
}

button:hover{
    background: #dd7b22;
}